<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>

<% if (typeof(film) !== 'undefined'){  %>
        <h1>
            <%/* \<\% Permet de faire du conditionel */%>
            <%/* <\%\= Permet d'afficher une variable */%>
            Détail du film:  <%= film.title %>
        </h1>
        <p>
            L'annee du film est : <%= film.year%>
        </p>
        <a href="/moovies/delete/<%=film.id%>">Supprimer</a>
<p>
    <% } else { %>
        <p><%= msg %></p>

    <%}%>
</p>
</body>
</html>

